{% extends 'index.html' %}


{% block bodyblock %}
<body>

<div class="header">
  <h2>MY BLOG</h2>
</div>

<div class="row">

    <h1 style="color: burlywood;"> Update Blog</h1>
  <div class="leftcolumn">
    
    <div class="card">
         
        <form action="update" method="POST">
             {% csrf_token %}
            <p>Enter the name of the tittle to update: <input type="text" name="title"></p>
          
            <p>
          
              body:<br>
          
              <textarea name="message"></textarea>
          
            </p>
          
            <input type="submit" value="update data">
          
          </form>
     
    </div>
    <a style="text-decoration: none; color: rgb(180, 40, 40);" href="{% url 'index' %}" ><center><h1>Back</h1></center></a>
  </div>
</div>
</body>

{% endblock %}